body {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  background-color: #000000;
}

.container {
  position: relative;
  max-width: 1270px;
  padding: 0 30px;
  margin: 0 auto;
}

.subtitle {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  color: #FFFFFF;
}

.paragraph {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.app-store {
  margin-right: 28px;
  display: block;
  width: 164px;
  height: 52px;
  background-image: url("../../images/download/app-store.svg");
  background-size: 164px 52px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  transition: background-color 0.2s;
}
.app-store:hover {
  background-color: rgba(255, 255, 255, 0.233);
}

.google-play {
  display: block;
  width: 185px;
  height: 52px;
  background-image: url("../../images/download/google-play.svg");
  background-size: 185px 52px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 7px;
  transition: background-color 0.2s;
}
.google-play:hover {
  background-color: rgba(255, 255, 255, 0.233);
}

.cookies {
  padding: 22px 100px 22px 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212834;
  z-index: 999;
}
.cookies__text {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
}
.cookies__btn {
  padding: 15px 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #FFFFFF;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}
.cookies__btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 136px;
}
.header__login {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  text-decoration: none;
}
.header__login:hover {
  opacity: 0.5;
}
.header__login::before {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  width: 26px;
  height: 26px;
  background-image: url("../../images/login.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.start-content {
  padding-top: 40px;
  padding-bottom: 58px;
  overflow: hidden;
}
.start-content__info {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.start-content__left {
  padding-top: 125px;
}
.start-content__title {
  margin: 0;
  max-width: 643px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}
.start-content__text {
  position: relative;
  padding-left: 100px;
  margin-top: 130px;
  display: inline-block;
  max-width: 380px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
.start-content__text:before {
  content: "";
  position: absolute;
  top: -170px;
  left: -100px;
  width: 318px;
  height: 325px;
  background-image: url("../../images/background-blur/start-content-blur-line.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.start-content__text::after {
  content: "";
  position: absolute;
  bottom: 60px;
  left: -25px;
  display: inline-block;
  width: 134px;
  height: 4px;
  background-color: #FFFFFF;
  transform: rotate(120.61deg);
}
.start-content__img-phone {
  position: relative;
  margin-right: 85px;
}
.start-content__img-phone::before {
  content: "";
  position: absolute;
  top: -310px;
  left: -310px;
  width: 1029px;
  height: 989px;
  background-image: url("../../images/background-blur/start-content-blur-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.start-content__download {
  margin-top: 58px;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start-content__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 38px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.start-content__bottons {
  margin-right: 63px;
  display: flex;
}
.start-content__btn {
  margin-right: 28px;
}
.start-content__btn:last-child {
  margin-right: 0;
}

.partnership {
  padding: 60px 0;
}
.partnership__cover {
  padding: 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 81px;
}
.partnership__block {
  padding: 64px 55px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
}
.partnership__text {
  flex-basis: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #FFFFFF;
}
.partnership__link {
  display: inline-block;
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.partnership__link:hover {
  opacity: 0.5;
}

.mission {
  padding: 176px 0 470px 0;
}
.mission__cover {
  position: relative;
  max-width: 358px;
  margin-left: auto;
  margin-right: 63px;
}
.mission__title {
  position: relative;
  max-width: 358px;
}
.mission__title:before {
  content: "";
  position: absolute;
  top: -70%;
  right: -10%;
  width: 285px;
  height: 285px;
  background-image: url("../../images/background-blur/mission-blur.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -999;
}
.mission__text {
  margin-top: 23px;
  max-width: 320px;
}
.mission__img {
  position: absolute;
  top: 0;
  left: -310%;
}

.scanner {
  padding-top: 466px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 40%, #000000 80%), url("../../images/background-images/scanner.jpg") no-repeat center 0/cover;
}
.scanner__cover {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.scanner__img {
  margin-right: 50px;
}
.scanner__img:last-child {
  margin-right: 0;
}
.scanner__right {
  margin: 0 80px 70px 0;
}
.scanner__title {
  max-width: 358px;
}
.scanner__text {
  margin-top: 23px;
  max-width: 318px;
}

.integration {
  padding: 205px 0;
}
.integration__cover {
  display: flex;
  justify-content: space-between;
}
.integration__info-block {
  margin-top: 90px;
}
.integration__title {
  max-width: 500px;
}
.integration__text {
  margin-top: 23px;
  max-width: 395px;
}

.qr-code {
  position: relative;
  padding-top: 237px;
  background: linear-gradient(180deg, #000000 0, rgba(0, 0, 0, 0) 300px, #000000 600px) no-repeat left/50%, url("../../images/background-images/qr-code-left.jpg") no-repeat left top/50%, url("../../images/background-images/qr-code-right.jpg") no-repeat right top/50%;
}
.qr-code::after {
  content: "";
  position: absolute;
  top: 0;
  right: 95px;
  width: 148px;
  height: 84px;
  background-image: url("../../images/nightlife.svg");
}
.qr-code__cover {
  padding: 0 80px;
}
.qr-code__left {
  display: inline-block;
  margin: 317px 80px 0 0;
}
.qr-code__title {
  max-width: 315px;
}
.qr-code__text {
  margin-top: 23px;
  max-width: 315px;
}
.qr-code__bottons {
  display: flex;
  margin-top: 58px;
}
.qr-code__btn {
  margin-right: 28px;
}
.qr-code__btn:last-child {
  margin-right: 0;
}
.qr-code__right {
  display: inline-block;
  position: relative;
}
.qr-code__img-bottom {
  position: absolute;
  top: 341px;
  right: -80px;
  transform: translateX(100%);
}

.generate {
  padding: 384px 0 250px 0;
  overflow: hidden;
}
.generate__top {
  display: flex;
  position: relative;
  justify-content: center;
}
.generate__top::before {
  content: "";
  position: absolute;
  top: -500px;
  left: -90px;
  width: 1440px;
  height: 1586px;
  background: url("../../images/background-blur/generate-blur.svg") no-repeat center;
  z-index: -999;
}
.generate__top::after {
  content: "";
  position: absolute;
  top: 110px;
  width: 1940px;
  height: 496px;
  background: url("../../images/notab-text.svg") no-repeat center;
  z-index: -998;
}
.generate__top-img {
  position: relative;
}
.generate__top-img::before {
  position: absolute;
  top: 196px;
  right: -148px;
  width: 104px;
  height: 74px;
  content: "";
  background: url("../../images/arrow.svg") center no-repeat;
}
.generate__top-img::after {
  position: absolute;
  top: 284px;
  right: -285px;
  content: "Scan QR-code";
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
}
.generate__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.generate__title {
  max-width: 400px;
}
.generate__text {
  max-width: 300px;
}

/*# sourceMappingURL=style.css.map */
