body {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  background-color: #000000;
}

//** LIST
// 0 - UNITS
// 1 - COOKIES
// 2 - HEADER
// 3 - START CONTENT
// 4 - PARTNERSHIP
// 5 - MISSION
// 6 - SCANNER
// 7 - INTEGRATION
// 8 - QR-CODE
//
//
//
// **//


// 0 UNITS //

.container {
  position: relative;
  max-width: 1270px;
  padding: 0 30px;
  margin: 0 auto;
}

.subtitle {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  color: #FFFFFF;
}

.paragraph {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.app-store {
  margin-right: 28px;
  display: block;
  width: 164px;
  height: 52px;
  background-image: url('../../images/download/app-store.svg');
  background-size: 164px 52px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.233);
  }
}

.google-play {
  display: block;
  width: 185px;
  height: 52px;
  background-image: url('../../images/download/google-play.svg');
  background-size: 185px 52px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 7px;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.233);
  }
}

// 1 COOKIES //

.cookies {
  padding: 22px 100px 22px 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212834;
  z-index: 999;

  &__text {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
  }

  &__btn {
    padding: 15px 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

// 2 HEADER //

.header {
  display: flex;
  align-items: center;

  &__logo {
    margin-right: 136px;
  }

  &__login {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -38px;
      width: 26px;
      height: 26px;
      background-image: url('../../images/login.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

// 3 START CONTENT //

.start-content {
  padding-top: 40px;
  padding-bottom: 58px;
  overflow: hidden;

  &__info {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    padding-top: 125px;
  }

  &__title {
    margin: 0;
    max-width: 643px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
  }

  &__text {
    position: relative;
    padding-left: 100px;
    margin-top: 130px;
    display: inline-block;
    max-width: 380px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;

    &:before {
      content: '';
      position: absolute;
      top: -170px;
      left: -100px;
      width: 318px;
      height: 325px;
      background-image: url('../../images/background-blur/start-content-blur-line.svg');
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 60px;
      left: -25px;
      display: inline-block;
      width: 134px;
      height: 4px;
      background-color: #FFFFFF;
      transform: rotate(120.61deg);
    }
  }

  &__img-phone {
    position: relative;
    margin-right: 85px;

    &::before {
      content: '';
      position: absolute;
      top: -310px;
      left: -310px;
      width: 1029px;
      height: 989px;
      background-image: url('../../images/background-blur/start-content-blur-phone.svg');
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  &__download {
    margin-top: 58px;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 38px;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  &__bottons {
    margin-right: 63px;
    display: flex;
  }

  &__btn {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }
}

// 4 PARTNERSHIP //

.partnership {
  padding: 60px 0;

  &__cover {
    padding: 0 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 81px;
  }

  &__block {
    padding: 64px 55px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 22px;
  }

  &__text {
    flex-basis: 100%;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
  }

  &__link {
    display: inline-block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline;
    color: #FFFFFF;

    &:hover {
      opacity: 0.5;
    }
  }
}

// 5 MISSION //

.mission {
  padding: 176px 0 470px 0;

  &__cover {
    position: relative;
    max-width: 358px;
    margin-left: auto;
    margin-right: 63px;
  }

  &__title {
    position: relative;
    max-width: 358px;

    &:before {
      content: '';
      position: absolute;
      top: -70%;
      right: -10%;
      width: 285px;
      height: 285px;
      background-image: url('../../images/background-blur/mission-blur.svg');
      background-position: center;
      background-repeat: no-repeat;
      z-index: -999;
    }
  }

  &__text {
    margin-top: 23px;
    max-width: 320px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: -310%;
  }
}

// 6 SCANNER //
.scanner {
  padding-top: 466px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 40%, #000000 80%),
  url('../../images/background-images/scanner.jpg') no-repeat (center 0 / cover);

  &__cover {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__img {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__right {
    margin: 0 80px 70px 0;
  }

  &__title {
    max-width: 358px;
  }

  &__text {
    margin-top: 23px;
    max-width: 318px;
  }
}

// 7 INTEGRATION //

.integration {
  padding: 205px 0;

  &__cover {
    display: flex;
    justify-content: space-between;
  }

  &__info-block {
    margin-top: 90px;
  }

  &__title {
    max-width: 500px;
  }

  &__text {
    margin-top: 23px;
    max-width: 395px;
  }
}

// 8 QR-CODE //

.qr-code {
  position: relative;
  padding-top: 237px;
  background: linear-gradient(180deg, #000000 0, rgba(0, 0, 0, 0) 300px, #000000 600px) no-repeat (left / 50%),
  url('../../images/background-images/qr-code-left.jpg') no-repeat (left top / 50%),
  url('../../images/background-images/qr-code-right.jpg') no-repeat (right top / 50%);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 95px;
    width: 148px;
    height: 84px;
    background-image: url('../../images/nightlife.svg');
  }

  &__cover {
    padding: 0 80px;
  }

  &__left {
    display: inline-block;
    margin: 317px 80px 0 0;
  }

  &__title {
    max-width: 315px;
  }

  &__text {
    margin-top: 23px;
    max-width: 315px;
  }

  &__bottons {
    display: flex;
    margin-top: 58px;
  }

  &__btn {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__right {
    display: inline-block;
    position: relative;
  }

  &__img-bottom {
    position: absolute;
    top: 341px;
    right: -80px;
    transform: translateX(100%);
  }
}